{% extends "layouts/main.twig" %}

{% block content %}
<div class="container">
    <div class="row py-3">
        <div class="col">
            <a href="/" class="btn btn-success">Home</a>
        </div>
    </div>
    <h1 class="display-2">Error: {{ code }}</h1>
</div>
{% endblock %}
